@charset "utf-8";

.transfer_area .myasset_top{padding-bottom:30px;}

.transfer_area .input_account {margin-top:40px;}
.transfer_area .site_rule {padding:30px 0;}
.transfer_area .transfer_info {padding:30px 0;}